<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" mode="side" [fixedInViewport]="true" fixedTopGap="64">
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Singular</span>
      <span class="spacer"></span>
      <button mat-button (click)="logout()">Logout</button>
    </mat-toolbar>

    <div class="content">
      <h3>/auth/me</h3>
      <pre>{{ user$ | async | json }}</pre>
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
