.sidenav-container {
  height: 100%;
}

.sidenav {
  min-width: 175px;
  width: 15%;
}

.sidenav-header {
  padding: 16px;

  h1 {
    margin: 0 0 16px 0;
    font-weight: 300;
  }
}

// mat-divider {
//   padding: 16px;
// }

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1;
}

.content {
  padding: 1rem;
}

// Mobile specific styles
@media (max-width: 768px) {
  .sidenav {
    min-width: 175px;
    width: 60%;
  }
}
